# Use a Node.js base image
# FROM node:18-alpine

version: '3.8'
services:
  db:
    image: postgres:15
    container_name: ledger_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ledger_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:

# # Set the working directory
# WORKDIR /app

# # Copy package.json and package-lock.json and install production dependencies
# COPY package*.json ./
# RUN npm install --only=production

# # Copy the rest of the application code
# COPY . .

# # Build the NestJS application
# RUN npm run build

# # Expose the application port
# EXPOSE 3000

# # Start the application in production mode
# CMD ["npm", "run", "start:prod"]